#primeira-secao-main {
    background-image: url('/HackRangers/img/HOME1Copia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: auto;
    max-width: auto;
}

.primeira-secao-main-metade-cima {
    background-color: rgb(0, 0, 0, 0.3);
}

.primeira-secao-main-metade-baixo {
    justify-content: left;
    margin-bottom: 200px;
    margin-left: 100px;
    max-height: auto;
    max-width: 600px;
}

.primeira-secao-main-metade-baixo p {
    background-color: #ffb716;
    border-radius: 20px;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 18px;
    padding: 25px;
    margin-top: 40px;
    text-align: center;
}

#segunda-secao-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 80px 80px 0 0;
    max-height: 1000px;
    max-width: auto;
}

#terceira-secao-main {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    max-width: auto;
}