#primeira-secao-main {
    background-image: url('../img/Home1Copia.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: auto;
    max-width: auto;
}

.primeira-secao-main-metade-cima {
    background-color: rgb(255, 255, 255, 0.6);
}

.primeira-secao-main-metade-baixo {
    justify-content: left;
    margin-bottom: 200px;
    margin-left: 100px;
    max-height: auto;
    max-width: 600px;
}

.primeira-secao-main-metade-baixo p {
    background-color: #ffb716;
    border-radius: 20px;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 25px;
    height: 80px;
    width: 700px;
    padding: 40px;
    margin-top: 40px;
    text-align: center;
}

#segunda-secao-main {
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    max-width: auto;
}

#terceira-secao-main {
    background: #a45e4d;
    display: grid;
    height: 80vh;
    max-width: auto;
}

#quarta-secao-main {
    background: #F4AA28;
    display: grid;
    height: 100vh;
    max-width: auto;
}

#quinta-secao-main {
    background: #ceba99;
    display: grid;
    height: 100vh;
    max-width: auto;
}

input[type="radio"] {
    position: fixed;
    left: -100px;
}

input:not([type="radio"]) {
    appearance: none;
    background-color: #fff;
    display: block;
    transition: 300ms ease;
    border-radius: 7px;
    border: 0;
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    width: 250px;
    opacity: 0;
    font-size: 16px;
    text-align: center;
    outline: 0;
}

[id="sign-in"]:checked~input.sign-in,
[id="sign-up"]:checked~input.sign-up,
[id="reset"]:checked~input.reset {
    max-height: 40px;
    padding: 10px;
    margin: 10px 0;
    opacity: 1;
}

button {
    width: 250px;
    height: 40px;
    border-radius: 7px;
    background-color: #FFCA6C;
    font-size: 0;
}

button:before {
    font-size: 16px;
}

[id="sign-in"]:checked~button:before {
    content: 'Sign In';
}

[id="sign-up"]:checked~button:before {
    content: 'Sign Up';
}

[id="reset"]:checked~button:before {
    content: 'Reset password';
}

label {
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    color: #a45e4d;
    transition: 300ms ease;
    width: calc(40% / 3 - 4px);
}

label:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    transition: inherit;
}

[id="sign-in"]:checked~[for="sign-in"],
[id="sign-up"]:checked~[for="sign-up"],
[id="reset"]:checked~[for="reset"] {
    color: #fff;
}

[id="sign-in"]:checked~[for="sign-in"],
[id="sign-up"]:checked~[for="sign-up"],
[id="reset"]:checked~[for="reset"]:after {
    border-bottom-color: #fff;
}

.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    text-align: center;
}

.flex-wrap>fieldset {
    background: #FFCA6C;
    display: grid;
}

form {
    align-items: center;
    display: flex;
}

label {
    flex-direction: column;
    flex-wrap: wrap;
}

body .flex-wrap {
    font-size: 16px;
}

.primeira-secao-busca-a label {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.primeira-secao-busca-b label {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.primeira-secao-busca-c {
    display: flex;
    flex-wrap: wrap;
}