.bg-profissionais {
    display: grid;
}

.primeira-secao-main-profissionais {
    background-image: url("../img/profissionais.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: auto;
    max-width: auto;
}