body > header {
    background-color: white;
}


.cta {
    position: relative;
    margin: auto;
    padding: 15px 15px 10px 15px;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #ffb716;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }

  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .cta:hover:before {
    width: 100%;
    background: #ffb716;
  }

  .cta:hover svg {
    transform: translateX(0);
  }

  .cta:active {
    transform: scale(0.96);
  }


.icone{ 
    margin-right: 100px;
}

.icone img {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}

body > header > nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

body > header > nav{
  grid-gap: 5px 8px;
}

@media (max-width: 450px) {
    body > header > nav {
        flex-direction: column;
    }

    body > header > nav a:last-of-type {
        margin-top: 1rem;
    }
}
