
.bg-profissionais {
    display: grid;
    grid-template-areas: "imagem imagem" "cores cores" "plano plano";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.bg-imagem {
    grid-area: imagem;
    background-image: url("../img/profissionais.jpeg"); 
}

.bg-cores {
    grid-area: cores;
}

.bg-plano {
    grid-area: plano;
}
.bg-profissionais-cima {
    background-image: url("../img/profissionais.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 300px;
    max-height: auto;
    background-size: cover;
   
    
}
.bg-profissionais-baixo {
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 300px;
    max-height: auto;
    background-size: cover;
   
    
}